django==3.0.3
django-crispy-forms==1.8.1
ics==0.6
-e git+https://git.sfi.pl/scm/djbase/django-sfibase.git@eacac9be7a70b54508cfef4ea1483427b3d10ac8#egg=django_sfibase
django-nested-admin==3.2.4
markdown==3.2.1
