django==3.0.7
django-crispy-forms==1.8.1
ics==0.6
-e git+https://github.com/sfikrakow/django-sfibase.git@5dfb2f269c791144304ac433f8aa4d03a9b9ac7c#egg=django_sfibase
django-nested-admin==3.2.4
markdown==3.2.1
