{% extends "base.html" %}
{% block title %} Zarejestruj się na warsztaty {% endblock %}

{% block content %}
    {% if workshops %}
        <h1>Dostępne warsztaty</h1>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="list-group mb-3" role="tablist">
                    {% for w in workshops %}
                        <a class="list-group-item list-group-item-action {% if forloop.first %}active{% endif %}"
                           id="workshop-list-{{ forloop.counter }}"
                           data-toggle="list" href="#workshop-{{ forloop.counter }}"
                           role="tab">{{ w.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    {% for w in workshops %}
                        <div class="tab-pane fade show {% if forloop.first %}active{% endif %}"
                             id="workshop-{{ forloop.counter }}"
                             role="tabpanel">
                            {% include 'includes/workshop.html' with w=w %}
                            <div class="text-right">
                                <a href="{% url 'workshop:register_form' w.id %}" class="btn btn-success">Zarejestruj
                                    się</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    {% else %}
        <h1>Brak dostępnych warsztatów.</h1>
    {% endif %}
{% endblock %}
