{% extends "base.html" %}
{% block title %} Zarejestruj się na warsztaty {% endblock %}

{% block content %}
    <h1>Zarejestruj się na <i>{{ workshop.name }}</i></h1>
    <div class="row mt-3">
        <div class="col-12">
            {% include 'includes/workshop.html' with w=workshop %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" role="form" class="form">
                        {% csrf_token %}
                        <h5 class="card-title">Rezerwacja imienna dla:</h5>
                        <h6>{{ request.user.first_name }} {{ request.user.last_name }}</h6>
                        <div class="float-left">{{ request.user.email }}</div>
                        <br />
                        {{ form }}
                        <br />
                        <div class="text-right">
                            <button class="btn btn-success align-self-baseline" type="submit">Potwierdź rejestrację
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
